body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Início do Header */

header {
    padding: 25px 25px 0 25px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.logo-google {
    vertical-align: middle;
    width: 100px;
}

.search-container {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}
.search-container label {
    display: none;
}
#search-bar {
    width: 700px;
    padding: 12px 90px 12px 28px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    outline: none;
}
#search-bar:hover {
    box-shadow: 0 0 4px rgb(200, 200, 200);
}
.clear-icon {
    right: 70px;
    background: url(../img/close.png);    
}
.search-icon {
    right: 10px;
    background: url(../img/search.png);
    border-left: 1px solid rgb(220, 220, 220);
}
.clear-icon:hover,
.search-icon:hover {
    cursor: pointer;
}
.clear-icon,
.search-icon {
    position: absolute;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    padding: 8px 20px;
    top: 50%;
    transform: translateY(-50%);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.right-items {
    float: right;
    display: flex;
    align-items: center;
}
.apps-button {
    background: url(../img/apps2.jpg);
    width: 18px;
    height: 18px;
}
.user-photo {
    background: url(../img/user-photo.jpg);
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.apps-button,
.user-photo {
    margin: 0 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/* Menus */

.menu-container {
    width: 650px;
    margin-left: 150px;
    margin-top: 20px;
}
.menu-primary {
    display: inline-block;
}
.menu-primary ul {
    display: flex;
}
.menu-primary li {
    margin: 0 3px;
}

.menu-primary a {
    display: block;
    padding: 10px 10px 10px 28px;
    text-decoration: none;
    font-size: 13px;
    color: rgb(120, 120, 120);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 6px center;
}
.menu-primary a.active {
    color: rgb(0, 134, 223);
    border-bottom: 3px solid rgb(0, 134, 223);
}
.menu-primary a[href*="all"] {
    background-image: url(../img/all-icon.jpg);
}
.menu-primary a[href*="images"] {
    background-image: url(../img/images-icon.jpg);
}
.menu-primary a[href*="shopping"] {
    background-image: url(../img/shopping-icon.jpg);
}
.menu-primary a[href*="news"] {
    background-image: url(../img/news-icon.jpg);
}
.menu-primary a[href*="videos"] {
    background-image: url(../img/videos-icon.jpg);
}

.more {
    display: inline-block;
    position: relative;
    margin-left: 3px;
    padding: 5px 8px 5px 18px;
    font-size: 13px;
    color: rgb(120, 120, 120);
    background: url(../img/more-icon.jpg) 6px center / 4px no-repeat;
    cursor: pointer;
}
.more ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 3px 0;
    left: 0;
    box-shadow: 0 0 3px rgb(200, 200, 200);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.more a {
    display: block;
    padding: 10px 15px 10px 35px;
    text-decoration: none;
    color: rgb(120, 120, 120);
}
.more a[href*="maps"] {
    background: url(../img/maps-icon.png) 15px center / 14px no-repeat;
}
.more a[href*="books"] {
    background: url(../img/books-icon.png) 15px center / 14px no-repeat;
}
.more a[href*="flights"] {
    background: url(../img/flights-icon.png) 15px center / 14px no-repeat;
}
.more a[href*="finance"] {
    background: url(../img/finance-icon.png) 15px center / 14px no-repeat;
}
.more a:hover {
    background-color: rgb(230, 230, 230);
}

.search-options {
    float: right;
    font-size: 13px;
    display: flex;
    color: rgb(120, 120, 120);
}
.settings,
.tools {
    padding: 10px;
}
.settings {
    position: relative;
    display: block;
    cursor: pointer;
}
.settings ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 150px;
    padding: 3px 0;
    left: 0;
    box-shadow: 0 0 5px rgb(180, 180, 180);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.settings a {
    display: block;
    padding: 8px;
    font-size: 14px;
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.settings a:hover {
    background-color: rgb(230, 230, 230);
}
.tools:hover {
    color: rgb(40, 40, 40);
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(80, 80, 80);
    cursor: pointer;
}
/* 
    Fim do Header

    Início do conteúdo principal

*/ 

.about-tools {
    height: 35px;
    width: 100%;
}
.about,
.tools-options {
    margin-left: 183px;
}
.about {
    font-size: 14px;
    line-height: 35px;
    color: rgb(120, 120, 120);
}

.results-container {
    margin-left: 183px;
    margin-top: 16px;
    width: 683px;
}
.result-item {
    margin: 16px 0;
}
.result-url {
    color: rgb(40, 40, 40);
    font-size: 14px;
}
.result-url span {
    color: rgb(80, 80, 80);
}
.result-url span::before {
    content: ' > ';
}
.result-title {
    font-size: 20px;
    margin: 10px 0;
}
.result-description {
    margin: 10px 0;
    color: rgb(80, 80, 80);
    line-height: 1.2em;
    font-size: 14px;
}